[package]
name = "uyta"
version = "0.1.0"
edition = "2024"

[dependencies]
itertools = "0.14.0"
raylib = { version="5.5.1", features=["wayland"] }
serde = { version="1.0.219", features=["derive"] }
serde_json = "1.0.140"
